<% groupings_rest.each_with_index do |grouping, i|
  next if grouping.use_count == 0 %>
  <tr>
    <td>
      <%= grouping.regex.inspect %>
      <br />
      <a href='#' class='g<%= i %>'>Show associated steps</a>
    </td>
    <td>
      <%= grouping.use_count %>
    </td>
  </tr>
  <tr class='g<%= i %>' style='display: none;'>
    <td colspan='2'>
      <table>
        <tr>
          <th> Association count</th>
          <th> Step</th>
        </tr>
        <tbody>
          <% grouping.step_collection.each do |step| %>
            <tr>
              <td><%= step.count %></td>
              <td><%= CGI.escapeHTML step.regex.inspect %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </td>
  </tr>
<% end %>
